<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../layout/head') %>
</head>


  <body>
    <header>
    <h1>Central Oregon Cool Books!</h1>
    <p>X</p>
    </header>

    <!-- Test
    <p><a href="/error">See list</a></p>
    <p><a href="/quantities">see list with quantities</a></p> -->

    <section class="titleContainer">
      <p>Search by Title or Author</p>
    </section>


    <section class="formContainer">
      <form action="/searches/show" method="post">
        <input type="text" name="search" placeholder="Enter a title or author" required>

        <fieldset>
          <label for="title">
            <span>Title</span>
            <input type="radio" name="search" value="title" required>
          </label>

        </fieldset>
        <fieldset>
            <label for="author">
              <span>Author</span>
              <input type="radio" name="search" value="author" required>
            </label>
        </fieldset>


        <button type="submit">Search the Google Books API</button>
      </form>
    </section>


  </body>


</html>