<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>

  <body>
    <h1>List of Books</h1>

    <ul>
      <% searchResult.forEach(element => {  %> 
      <li><img src="<%= element.image_url %>"  alt=""></li>
      <li><%= element.title; %></li>
      <% }); %>
    </ul>


    <button type="submit">Home </button>


  </body>


</html>